In [105]:
from sklearn import tree
import pandas as pd 
import numpy as np

In [106]:
df = pd.read_csv("cleaned_data/infoML.csv")
df

,Title,Year,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players
0,Grand Theft Auto V,2014.0,RockstarNorth,Action Adventure;Modern;Open-World,XboxOne,97.0,7.8,Up to 30
1,Grand Theft Auto V,2014.0,RockstarNorth,Action Adventure;Modern;Open-World,PlayStation4,97.0,8.3,Up to 30
2,Grand Theft Auto V,2015.0,RockstarNorth,Modern;Action Adventure;Open-World,PC,96.0,7.7,Up to 32
3,The Legend of Zelda: Breath of the Wild,2017.0,Nintendo,Fantasy;Fantasy;Action Adventure;Open-World,WiiU,96.0,8.2,No Online Multiplayer
4,The Last of Us Remastered,2014.0,NaughtyDog,Action Adventure;General;Modern,PlayStation4,95.0,9.1,Up to 8
...,...,...,...,...,...,...,...,...
1286,Furi,2016.0,TheGameBakers,Action;Fighting;3D,XboxOne,77.0,7.6,not specified
1287,Element4l,2013.0,i-illusions,Action;Platformer;Platformer;2D;2D,PC,77.0,7.7,not specified
1288,Anomaly 2,2013.0,11bitstudios,Action;Strategy;General;Real-Time;Sci-Fi;Sci-F...,PC,77.0,7.9,not specified
1289,Outlast 2,2017.0,RedBarrels,Action Adventure;Survival,XboxOne,77.0,6.5,not specified
1290,Valiant Hearts: The Great War,2014.0,UbisoftMontpellier,Platformer;2D;Action;Platformer;2D,PlayStation4,77.0,8.4,not specified

In [107]:
df[["Main_Genre"]] = df.Genre.str.split(";", expand=True)[0]

In [108]:
df["score"] = np.where(df['Avg_Userscore'] >=7, 1,0)
df

,Title,Year,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players,Main_Genre,score
0,Grand Theft Auto V,2014.0,RockstarNorth,Action Adventure;Modern;Open-World,XboxOne,97.0,7.8,Up to 30,Action Adventure,1
1,Grand Theft Auto V,2014.0,RockstarNorth,Action Adventure;Modern;Open-World,PlayStation4,97.0,8.3,Up to 30,Action Adventure,1
2,Grand Theft Auto V,2015.0,RockstarNorth,Modern;Action Adventure;Open-World,PC,96.0,7.7,Up to 32,Modern,1
3,The Legend of Zelda: Breath of the Wild,2017.0,Nintendo,Fantasy;Fantasy;Action Adventure;Open-World,WiiU,96.0,8.2,No Online Multiplayer,Fantasy,1
4,The Last of Us Remastered,2014.0,NaughtyDog,Action Adventure;General;Modern,PlayStation4,95.0,9.1,Up to 8,Action Adventure,1
...,...,...,...,...,...,...,...,...,...,...
1286,Furi,2016.0,TheGameBakers,Action;Fighting;3D,XboxOne,77.0,7.6,not specified,Action,1
1287,Element4l,2013.0,i-illusions,Action;Platformer;Platformer;2D;2D,PC,77.0,7.7,not specified,Action,1
1288,Anomaly 2,2013.0,11bitstudios,Action;Strategy;General;Real-Time;Sci-Fi;Sci-F...,PC,77.0,7.9,not specified,Action,1
1289,Outlast 2,2017.0,RedBarrels,Action Adventure;Survival,XboxOne,77.0,6.5,not specified,Action Adventure,0
1290,Valiant Hearts: The Great War,2014.0,UbisoftMontpellier,Platformer;2D;Action;Platformer;2D,PlayStation4,77.0,8.4,not specified,Platformer,1

In [109]:
ohc = pd.get_dummies(df.score, prefix='score')
ohc.value_counts()

score_0  score_1
0        1          942
1        0          349
dtype: int64

In [110]:
df.drop(["Title","Metascore", "Genre", "Avg_Userscore", "score"], axis=1, inplace=True)
df

,Year,Publisher,Platform,No_Players,Main_Genre
0,2014.0,RockstarNorth,XboxOne,Up to 30,Action Adventure
1,2014.0,RockstarNorth,PlayStation4,Up to 30,Action Adventure
2,2015.0,RockstarNorth,PC,Up to 32,Modern
3,2017.0,Nintendo,WiiU,No Online Multiplayer,Fantasy
4,2014.0,NaughtyDog,PlayStation4,Up to 8,Action Adventure
...,...,...,...,...,...
1286,2016.0,TheGameBakers,XboxOne,not specified,Action
1287,2013.0,i-illusions,PC,not specified,Action
1288,2013.0,11bitstudios,PC,not specified,Action
1289,2017.0,RedBarrels,XboxOne,not specified,Action Adventure
1290,2014.0,UbisoftMontpellier,PlayStation4,not specified,Platformer

In [111]:
plat_ohc = pd.get_dummies(df.Platform, prefix='plat')
plat_ohc

,plat_PC,plat_PlayStation4,plat_PlayStationVita,plat_WiiU,plat_XboxOne
0,0,0,0,0,1
1,0,1,0,0,0
2,1,0,0,0,0
3,0,0,0,1,0
4,0,1,0,0,0
...,...,...,...,...,...
1286,0,0,0,0,1
1287,1,0,0,0,0
1288,1,0,0,0,0
1289,0,0,0,0,1
1290,0,1,0,0,0

In [112]:
target = ohc.drop(["score_0"], axis=1)
target_names = ["below","above"]

In [113]:
plat_ohc = plat_ohc.drop(["plat_WiiU"],axis=1)
feature_names = plat_ohc.columns

In [114]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(year_ohc, target)

In [115]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test,y_test)

0.7461300309597523

In [116]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)
rf.score(X_test,y_test)

<ipython-input-116-b9190b294ca5>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = rf.fit(X_train, y_train)

0.7461300309597523

In [117]:
importances = rf.feature_importances_
importances

array([0.28837073, 0.07690834, 0.0633497 , 0.14348951, 0.09963963,
       0.32824209])

In [118]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2883707271061347, 'plat_PC'),
 (0.14348950693018556, 'plat_XboxOne'),
 (0.07690834332641275, 'plat_PlayStation4'),
 (0.06334970108338475, 'plat_PlayStationVita')]